@page "/Revistas-editar/{autor}"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager

<h3>Modificar</h3>

<EditForm Model="@revistas" OnValidSubmit="@Guardar">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="Titulo">Titulo del libro</label>
        <InputText id="Titulo" @bind-Value="revistas.Titulo" class="form-control" />
        <ValidationMessage For="() => revistas.Titulo" />
    </div>
    <div class="form-group">
        <label for="Autor">Autor del libro</label>
        <InputText id="Autor" @bind-Value="revistas.Autor" class="form-control" />
        <ValidationMessage For="() => revistas.Autor" />
    </div>
    <div class="form-group">
        <label for="Genero">Genero del libro </label>
        <InputText id="Genero" @bind-Value="revistas.Genero" class="form-control" />
    </div>
    <div class="form-group">
        <label for="aniopublicacion">Anio de publicacion</label>
        <InputDate id="aniopublicacion" @bind-Value="revistas.aniopublicacion" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Volumen">Volumen de la revista</label>
        <InputNumber id="Volumen" @bind-Value="revistas.Volumen" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Numeroejemplar">Numero de ejemplar</label>
        <InputNumber id="Numeroejemplar" @bind-Value="revistas.Numeroejemplar" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>



@code {
    [Parameter]
    public string autor { get; set; }

    private Revistas revistas = new Revistas();
    List<Revistas> revistas1 = new List<Revistas>();


    protected async Task Guardar()
    {

        await localStorage.SetItemAsync("revistas1", revistas1);


        NavigationManager.NavigateTo("/Ingreso");

    }



    protected override async Task OnInitializedAsync()
    {
        revistas1 = await localStorage.GetItemAsync<List<Revistas>>("revistas1");

        revistas = revistas1.Find(c => c.Autor == autor);

    }
}
